.card {
    height: 600px;
    width: 300px;
    padding: 25px;

    align-items: center;
    h3 {
        margin-bottom: 0.75rem;
    }

    div > img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

}